@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 100;
  }

  .skip-link:focus {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
}
